<div class="form-builder">
  <div class="builder-content">
    <form>
      <div *ngFor="let item of questions$ | async; let i = index">
        <div class="question-list">
          <div class="question">
            {{ i + 1 }}. {{ item.question }}{{ item.require ? "*" : "" }}
          </div>
          <div *ngIf="item.answerType === 'paragraph'">
            <mat-form-field appearance="fill" class="form-field">
              <input
                matInput
                class="input-field"
                name="paragraphSignal"
                [(ngModel)]="paragraphAnswers[i]"
                placeholder="Please enter your answer"
                required
              />
            </mat-form-field>
          </div>
          <div *ngIf="item.answerType === 'checkbox'">
            <div *ngFor="let option of item.answerOptions; let j = index">
              <mat-checkbox
                name="customAnswer"
                [(ngModel)]="checkboxAnswers[i][j]"
              >
                {{ option }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div>
      <button mat-button (click)="addQuestionModal()">
        + Add New Question
      </button>
    </div>
    <div class="review-answer">
      <button mat-raised-button color="primary" (click)="reviewAnswers()">
        Review my answers >
      </button>
    </div>
  </div>
</div>
